        .nopadding {
          margin-top: 0 !important;
        }

        .navbar {
          background-color: #F18F01;
        }

        footer.page-footer {
          background-color: #49071c;
          margin-top: 2rem;
        }

        .pattern-4 {
          background-attachment: fixed;
        }

        .view {
          background: url("https://images.pexels.com/photos/70497/pexels-photo-70497.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb")no-repeat center center;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
          height: 100vh;
        }

        .full-bg-img {
          color: #fff;
        }

        .title {
          font-weight: 100;
        }

        .payment .fa:not(:first-child) {
          margin-left: 10px;
          color: rgba(255, 205, 255, .99);
        }

        input[type="text"]:focus:not([readonly]) {
          border-color: #C00;
          box-shadow: 0 1px 0 0 #C00;
          color: #fff;
        }

        input[type="text"]:not([readonly])+label {
          color: rgba(255, 205, 255, .65);
        }

        input[type="text"]:focus:not([readonly])+label {
          color: #fff;
        }